{% extends 'grades/base.html' %}
{% block title %}学生管理系统{% endblock %}
{% block content %}
    <form id="inquire_form" action="{% url 'grades:inquire' %}" method="GET">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="查询" />
    </form>
    <div div="error_div"></div>
    <br>
    查询结果是<div id="success_div"></div> 
    <br>
{% endblock %}
{% block footer %}
    <a href="{% url 'grades:details' %}">更多咨询</a>
    <br>
    <a href="{% url 'grades:manager' %}">管理成绩</a>
{% endblock %}
{% block javascript %}
    <script>
        $("#inquire_form").submit(function(event){
            $.ajax({
                type: $(this).attr('method'),
                url: $(this).attr('action'),
                data: { student_id : $('#id_student_id').val() },
                success: function(result){
                    $("#success_div").text(result);
                    console.log("success");
                },
                error: function(xhr,status,error){
                    $('#error_div').html(e.status+":"+e.responseText);
                    console.log("error");
                }
            });
            event.preventDefault();           
        });
    </script>
{% endblock %}


